@model IEnumerable<EntitiesViewModels.DeliveryVM>

@{
    ViewData["Title"] = "ListDelivery";
}

<h1>ListDelivery</h1>

<p>
    <a asp-action="AddDelivery">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
@*            <th>
                @Html.DisplayNameFor(model => model.Deliveries_id)
            </th>
*@            <th>
                @Html.DisplayNameFor(model => model.Customer_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Deliveries_id)
            </td>*@
            <td>
                    @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Deliveries_id  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Deliveries_id  })
            </td>
        </tr>
}
    </tbody>
</table>

