@model IEnumerable<Entities.Category>

@{
    ViewData["Title"] = "ListCategory";
}

<h1>ListCategory</h1>

<p>
    <a asp-action="AddCategory">Create New</a>
</p>
<table class="table table-bordered table-hover table-striped" id="AddUserRoles">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Category_id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Category_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Category_id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Type)
            </td>
            <td>
                    @Html.ActionLink("Edit", "UpdateCategory", new {  id=item.Category_id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Category_id  })
            </td>
        </tr>
}
    </tbody>
</table>
